<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/navbar') %>
  <h1>How Can We Bridge the Gap for You?</h1>

  <form>
    <label>Name:</label><br>
    <input type="text"><br><br>

    <label>I am interested in:</label><br>
    <select>
      <option>Immersion</option>
      <option>Empowerment</option>
    </select><br><br>

    <label>Message:</label><br>
    <textarea></textarea><br><br>

    <button type="submit">Submit</button>
  </form>

</body>
</html>