<!DOCTYPE html>
<html>
<head>
  <title>HomeBridge Foundation</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/navbar') %>
  <h1>HomeBridge Foundation</h1>

  <p>
    Extending impact beyond connection. Our NGO arm focuses on sustainable
    community development and long-term partnerships in Ghana.
  </p>

  <ul>
    <li>Education Support</li>
    <li>Community Development</li>
    <li>Youth Empowerment</li>
  </ul>

</body>
</html>